.orders {
  height: calc(100vh - 113px);
  background-color: #eff2f4;
  box-shadow: inset 0 10px 20px #dbe0e5;
  &-header {
    margin-top: 30px;
    &__title {
      font-size: 2em;
    }
  }
  &-list {
    margin-top: 40px;
    max-height: 85%;
    overflow-y: auto;
  }
  &-empty {
    font-size: 1.5em;
  }
}
